body {
  background: #5cdb94;

  margin: 0;
}

.Weather {
  background: #edf5e1;
  padding: 16px;
  margin: 30px auto;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #05396b;
  border-radius: 20px;
  color: rgb(85, 85, 85);
  box-shadow: 5px 5px 10px 5px #2b6e61;
}

.Weather h2 {
  display: block;
  font-size: 29px;
  font-weight: bold;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: #05396b;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-top: 25px;
  position: relative;
  top: 10px;
  padding-right: 15px;
}

.Weather .temperature {
  margin-top: 5px;
  font-weight: bolder;
  font-size: 55px;
  color: #05396b;
  line-height: 64px;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -22px;
  left: -3px;
  color: #05396b;
}

.Weather #button {
  color: white;
  background-color: #389583;
  border-color: #2b6e61;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 105, 0.2);
}

.Weather .bolded {
  font-weight: bold;
  color: #05396b;
}

.Weather .extraInfo {
  padding-top: 40px;
  padding-left: 70px;
}
