.WeatherForecast {
  text-align: center;
}

.WeatherForecast canvas {
  height: 35px;
  padding: 0;
  margin: 0 auto;
}

.WeatherForecast .ForecastDay {
  margin-top: 35px;
  color: #ff79c6;
  font-weight: bold;
}

.WeatherForecast .ForecastTemp {
  padding-top: 20px;
}

.WeatherForecast .ForecastTemp .Max {
  font-weight: bold;
}

.WeatherForecast .ForecastTemp .Min {
  opacity: 0.6;
  margin-left: 5px;
}
